:root {
  --color-title: rgba(0, 0, 0, 0.8);
  --header: rgb(255 255 255 / 18%);
  --card: rgba(255, 255, 255, 0.3);
}

html,
* {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background: repeating-linear-gradient(#72acfe, #f388e5);
  height: 100vh;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

.obstacle_header {
  height: 55px;
}

.Layout_main {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
